<div class="auth-container">
  <h2>Login</h2>
  <form action="/login" method="POST">

    <div class="form-control">
      <label for="email">Email: </label>
      <input type="email" name="email" placeholder="Digite seu email" required />
    </div>
    <div class="form-control">
      <label for="password">Senha: </label>
      <input
        type="text"
        name="password"
        placeholder="Digite sua senha"
        required
      />
    </div>

    <input type="submit" value="Entrar" />
  </form>
  <p>Ainda não tem conta? <a href="/register">Clique aqui!</a></p>
</div>